@*@model IEnumerable<BreadBudget.Models.Account>*@
@model BreadBudget.Models.Account 

@{
    ViewData["Title"] = "DisplayTest";
    //var photoPath = "/wwwroot/images/" + (Model.ProfilePicture ?? "noimage.jpg");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body>
    
    <h1>Display photo: </h1>

    @*<p>@photoPath</p>*@
    @*<img src="~/images/@Model.ProfilePicture" asp-append-version="true"/>*@
    @*@foreach(var account in Model)
    {
        <p>@account.Name</p>
        <p>@account.Email</p>
        <p>@account.ProfilePicture</p>

    }*@
<p> @Model.Name</p>
   

</body>
</html>

